*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #876972;
}

body{
  height: 100vh;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

/* 上方導覽 */
nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 20rem; 
  margin-left: 50rem; 
  margin-top: 1rem;
}

/* 主要內容 */
.container{
  width: 160vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 15px;
  overflow: hidden;
}

h1{
  text-align: center;
  line-height: 5rem;
}

form{
  justify-content: center;
}

table{
  margin: auto;
  line-height: 1rem;
}

table td{
  padding: 1rem;
}

.btns{
  text-align: center;
}

h2{
  color: red;
  text-align: center;
}

/* 尾版 */
footer{
  text-align: center;
  margin-top: 1rem;
}

/* common components */
.btn{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: gray;
  padding: 0.25rem 0.75rem;
  font-size: 1.1rem;
  box-sizing: 0 0 10px #ccc;
}

/* 內頁列表 */
ul{
  margin: 1rem 5rem;
}
/* 列表寬高 */
.list-items{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 1.15rem;
}
/* 滑鼠移到列表時 */
.list-items:hover{
  background-color: rgb(166, 245, 249);
  cursor: pointer;
}
/* 列表的編輯按鈕 */
.edit{
  display: inline-block;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: lightsalmon;
  box-shadow: 3px 3px 10px #aaa;
  margin: 0 5px;
}
.edit:hover{
  background: #fe4e09;
  color: #fff;
}
/* 列表的刪除按鈕 */
.del{
  display: inline-block;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: rgb(255, 117, 117);
  box-shadow: 3px 3px 10px #aaa;
  margin: 0 5px;
}
.del:hover{
  background: rgb(70, 0, 0);
  color: #fff;
}

/* 後台 列表的樣式 */

.list{
  width: 80%;
}
.list-header{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}

.list-header div{
  width: calc(100% / 5);
  background: #876972;
  color: #ccc;
}
.list-items a div{
  width: calc(100% / 5);
  padding: 0.5rem 1rem;
}
