*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #504d78;
  text-decoration:none
}

body{
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

/* 上方導覽 */
/* nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 20rem; 
  margin-left: 50rem; 
  margin-top: 1rem;
} */
/* nav 開始*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 1rem 6.25rem;
  z-index: 2;
}

header.sticky{
  padding: 0.31rem 6.25rem;
  background: rgba(255, 255, 255, 0.434);
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #504d78;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  transition: 0;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #504d78;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky.logo,
header.sticky ul li a{
  color: #504d78;
}
/* nav 結束 */

/* 主要內容 */
.container{
  width: 160vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 15vh;
  border-radius: 15px;
  overflow: auto;
}

h1{
  text-align: center;
  line-height: 5rem;
}

form{
  justify-content: center;
}

table{
  margin: auto;
  line-height: 1rem;
}

table td{
  padding: 1rem;
}

.btns{
  text-align: center;
}

h2{
  color: red;
  text-align: center;
}

/* 尾版 */
footer{
  text-align: center;
  margin-top: 1rem;
}

/* common components */
.btn{
  margin-left: 5rem ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%,#fed6e3 0%,#a8edea 100%,#fed6e3 0% );
  padding: 0.25rem 0.75rem;
  font-size: 1.1rem;
  box-sizing: 0 0 10px #ccc;
  border: none;
  outline: none;
}

/* 內頁列表 */
ul{
  margin: 1rem 5rem;
}
/* 列表寬高 */
.list-items{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 1.15rem;
}
/* 滑鼠移到列表時 */
.list-items:hover{
  background: linear-gradient(to top, #fed6e356 0%, #a8ede988 100%);
  cursor: pointer;
}
/* 列表的編輯按鈕 */
.edit{
  display: inline-block;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #aaa;
  margin: 0 5px;
}
.edit:hover{
  background: #504d78;
  color: #fff;
}
/* 列表的刪除按鈕 */
.del{
  display: inline-block;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: rgb(255, 117, 117);
  box-shadow: 3px 3px 10px #aaa;
  margin: 0 5px;
}
.del:hover{
  background: #504d78;
  color: #fff;
}

/* 後台 列表的樣式 */

.list{
  width: 80%;
}
.list-header{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}

.list-header div{
  width: calc(100% / 5);
  background: #504d78;
  color: #ccc;
}
.list-items a div{
  width: calc(100% / 5);
  padding: 0.5rem 1rem;
}

.logbtn{
  margin: 0 auto;
  display: block;
  width: 40%;
  height: 8vh;
  border: none;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%,#fed6e3 0%,#a8edea 100%,#fed6e3 0% );
  background-size: 200%;
  outline: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 20px;
  margin-top: 15vh;
}

.vote-sub{
  margin-top: 1rem;
}