*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #504d78;
  word-wrap: break-word;
}

body{
  height: 100vh;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

/* nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-left: 55rem;
  margin-top: 1rem;
} */

/* nav 開始*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 1rem 6.25rem;
  z-index: 2;
}

header.sticky{
  padding: 0.31rem 6.25rem;
  background: rgba(255, 255, 255, 0.434);
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #504d78;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  transition: 0;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #504d78;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky.logo,
header.sticky ul li a{
  color: #504d78;
}
/* nav 結束 */

.container{
  width: 160vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 2vh;
  border-radius: 15px;
  overflow: auto;
  /* display: flex; */
}

h1{
  text-align: center;
  line-height: 5rem;
}

form{
  justify-content: center;
}

table{
  margin: auto;
  line-height: 1rem;
}

table td{
  padding: 1rem;
}

.btns{
  text-align: center;
}

footer{
  text-align: center;
  margin-top: 1rem;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

/* 後台 列表的樣式 */

.list{
  width: 85%;
}
.list-header{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}

.list-header div{
  width: calc(100% / 5);
  background: #504d78;
  color: #ccc;
}
.list-items a div{
  width: calc(100% / 5);
  padding: 0.5rem 1rem;
}
/* 後台列表寬高 */
.list-items{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 1.15rem;
}
/* 滑鼠移到列表時 */
.list-items:hover{
  cursor: pointer;
}
.list{
margin: 1rem 5rem;
}
.list a{
  text-decoration: none;
}

.list-header div a{
  color: #ccc;
}

.result-table{
  border-collapse: collapse;
  box-shadow: 0 0 6px #bbb;
}

.result-table td{
  padding: 0.25rem;
  border: 1px solid #ccc;
}

#list{
  margin-left: 20vh;

}
#types{
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  border: 0;
  border-bottom: 1px solid #504d78 ;
}

.vote-item{
  margin: 1rem 25rem;
}

.logbtn{
  margin: 0 auto;
  display: block;
  width: 20%;
  height: 8vh;
  border: none;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%,#fed6e3 0%,#a8edea 100%,#fed6e3 0% );
  background-size: 200%;
  outline: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 20px;
  margin-top: 10vh;
}

::-webkit-scrollbar{
  width: 0px;
}