*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 8rem;
  margin-left: 65rem;
  margin-top: 1rem;
}

.container{
  width: 160vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 15px;
}

h1{
  text-align: center;
  line-height: 5rem;
}

form{
  justify-content: center;
}
table{
  margin: auto;
  line-height: 1rem;
}
table td{
  padding: 1rem;
}
.btns{
  text-align: center;
}
h2{
  color: red;
  text-align: center;
}
