*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 8rem;
  margin-left: 65rem;
  margin-top: 1rem;
}

.container{
  width: 160vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 5vh;
  border-radius: 15px;
  overflow: hidden;
}

h1{
  text-align: center;
  line-height: 5rem;
}

form{
  justify-content: center;
}

table{
  margin: auto;
  line-height: 1rem;
}

table td{
  padding: 1rem;
}

.btns{
  text-align: center;
}

h2{
  color: red;
  text-align: center;
}

footer{
  text-align: center;
  margin-top: 1rem;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

/* 後台 列表的樣式 */
.list-header{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}

.list-header div{
  width: calc(100% / 5);
  padding: 0.5rem 1rem;
  background: blue;
  color: #ccc;
}
.list-items a div{
  width: calc(100% / 5);
  padding: 0.5rem 1rem;
}
/* 後台列表寬高 */
.list-items{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 1.15rem;
}
/* 滑鼠移到列表時 */
.list-items:hover{
  background-color: rgb(166, 245, 249);
  cursor: pointer;
}
.list{
margin: 1rem 0 1rem 6rem;
}
.list a{
  text-decoration: none;
}

.list-header div a{
  color: #ccc;
}