*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #504d78;
  text-decoration:none
}

body{
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

/* nav{
  height: 1rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-left: 55rem;
  margin-top: 1rem;
} */
/* nav 開始*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 1rem 6.25rem;
  z-index: 2;
}

header.sticky{
  padding: 0.31rem 6.25rem;
  background: rgba(255, 255, 255, 0.434);
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #504d78;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  transition: 0;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #504d78;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

header.sticky.logo,
header.sticky ul li a{
  color: #504d78;
}
/* nav 結束 */

.container{
  width: 70vh;
  height: 80vh;
  background: white;
  margin: 0 auto;
  margin-top: 100vh;
  border-radius: 15px;
  overflow: hidden;
  padding: 5vh 3vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h1{
  text-align: center;
  line-height: 2rem;
}

h2{
  margin-top: 2vh;
}

footer{
  text-align: center;
  margin-top: 93vh;
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  margin-top: 5vh;
  font-size: 15px;
  color: #ddd;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-image: linear-gradient(to top, #fd749f 0%, #3fefe6 100%);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}

.focus + span::after{
  width: 100%;
}

.logbtn{
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 8vh;
  border: none;
  background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%,#fed6e3 0%,#a8edea 100%,#fed6e3 0% );
  background-size: 200%;
  outline: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 20px;
  margin-top: 10vh;
}

.logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 10vh;
  text-align: center;
  font-size: 1rem;
}
.bottom-text a{
  margin: 2rem;
}